@model IEnumerable<KanbanBoard.Models.Item>
@{
    ViewData["Title"] = "Index";
}
<link href="KanbanStyleSheet.css" rel="stylesheet" type="text/css" />
<h1>Index</h1>

<p>
    <a asp-action="indexCreate">Create New Item</a>
</p>

<div class="jumbotron">
    
    <div class="row">
        <div class="col">
            <div class="card">
                <h2 class="card-title">ToDo</h2>
                <div class="card-body">
                    @foreach (var item in Model)
                    {
                        @if (item.BoardState == BoardState.ToDo)
                        {
                            
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">@Html.DisplayTextFor(model => item.Title)</h5>
                                        <p class="card-text">
                                            @Html.DisplayTextFor(model => item.Description)
                                            <br />
                                            @Html.DisplayTextFor(model => item.UserId)
                                        </p>
                                        <a class="btn btn-primary" asp-action="IndexEdit" asp-route-id="@item.ItemId">Edit</a>
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ItemId" onclick="return confirm('Are you sure you want to delete this userstory: @item.Title')">DELETE</a>
                                    </div>
                                </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h2 class="card-title">Doing</h2>
                <div class="card-body">
                    @foreach (var item in Model)
                    {
                        @if (item.BoardState == BoardState.Doing)
                        {
                            
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">@Html.DisplayTextFor(model => item.Title)</h5>
                                        <p class="card-text">
                                            @Html.DisplayTextFor(model => item.Description)
                                            <br />
                                            @Html.DisplayTextFor(model => item.UserId)
                                        </p>
                                        <a class="btn btn-primary" asp-action="IndexEdit" asp-route-id="@item.ItemId">Edit</a>
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ItemId" onclick="return confirm('Are you sure you want to delete this userstory: @item.Title')">DELETE</a>

                                    </div>
                                </div>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <h2 class="card-title">Done</h2>
                <div class="card-body">
                    @foreach (var item in Model)
                    {
                        @if (item.BoardState == BoardState.Done)
                        {
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayTextFor(model => item.Title)</h5>
                                    <p class="card-text">
                                        @Html.DisplayTextFor(model => item.Description)
                                        <br />
                                        @Html.DisplayTextFor(model => item.UserId)
                                    </p>
                                    <a class="btn btn-primary" asp-action="IndexEdit" asp-route-id="@item.ItemId">Edit</a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ItemId" onclick="return confirm('Are you sure you want to delete this userstory: @item.Title')">DELETE</a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
            @*<td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>*@
            <!--}
            </tr>-->
                 